*{
    margin: 0 !important;
    padding: 0 !important;
}
@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');

body{
    background-color: blueviolet !important;
}
.color_white{
    color: white !important;
}
.container_pers{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.indexImg{
    width: 400px;
    display: block;
}
.loadingSimbol{
    position: absolute !important;
    left: 45% !important;
}
.loadingSimbol span{
    color: white !important;
    font-family: Comfortaa !important;
}
.mensagemInicial{
    color: white;
    font-size: 30px;
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%);
    width: 90%;
    text-align: center;
    line-height: 40px;
}
.btnColor{
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 200px;
    background: white;
    outline: none;
    border: none;
    font-size: 30px;
    color: purple;
    border-radius: 10px;
    font-family: Comfortaa;
}


/* Página de Cadastro */


.container_pers_cadastro{
    width: 90%;
    margin: 0 auto !important;
}

.form_cadastro{
    font-family: Comfortaa!important;
}
.labelsCadastro{
    margin-top: 10px!important;
}
.camposCadastro{
    padding: 0 10px!important;
}
.labelsCadastro{
    padding-top: 5px!important;
    font-size: 15px;
}
.h1Cadastro{
    padding: 10px 0!important;
}
.btnCadastrar{
    position: relative;
    top: 60px!important;
    width: 100%;
    padding: 5px 0 !important;
    font-size: 20px !important;
    font-weight: bold;
    background-color: #33FFAC !important;
    border: none !important;
}
